/*Kalbibrierung*/
* {margin:0; padding:0; font-family:Arial, sans-serif; font-size:14px; }
body,html {height:100%; background-color:white; background-image:-moz-linear-gradient(#ccc,#fff); }

h1 {font-size:16px; }
h2,a {font-size:15px; color:#400001; margin-top:10px; }


/*Klassen und IDs*/
#wrapper {padding-top:20px; width:920px; margin:auto; }

#navi {height:50px; background-color:#400001; background-image:-moz-linear-gradient(#400001,#7f0003); }
#navi a {color:#400001; font-weight:bold; line-height:50px; margin:15px;
         text-decoration:none; padding:6px; background-color:white;
		 border-radius:6px; /*-moz-transition: all 1s;*/ box-shadow:inset 0 1px 2px #777;}
#navi a:hover {color:#7f0003; background-color:#f8f8f8; }

#navi .aktuell {background-color:#f8f8f8; }
#inhalt {float:left; width:560px; border-radius:20px; margin:20px 20px 20px 0; background-color:#eee; padding-left:20px; background-image:-moz-linear-gradient(#eee,#fff); height:550px; box-shadow:0 1px 4px #333;}
#inhalt h1, #inhalt p {padding-top:15px; text-shadow:0 1px 0 #fff;  }

#sidebar {float:left; width:300px; border-radius:20px; margin:20px 0; background-color:#eee; padding-left:20px; background-image:-moz-linear-gradient(#eee,#fff); height:550px; box-shadow:0 1px 4px #333;}
#sidebar h1, #sidebar p {padding-top:15px; text-shadow:0 1px 0 #fff; }

#artikel1,#artikel2 {display:none; }



#footer {clear:left; height:40px;  background-color:#400001; background-image:-moz-linear-gradient(#400001,#7f0003); 
         text-align:center; color:white; line-height: 40px;        
}
#content {
width:540px; height:480px; overflow:auto;
}
/*galerie*/
#galerie img {border-radius:20px; border:thin solid black; width:518px; height:349px;box-shadow:0 4px 4px #333;}
#scontent img {cursor:pointer;margin-left:3px;margin-top:3px; border-radius:8px; border:thin solid #666666;box-shadow:0 2px 2px #777;}
#scontent img:hover {border:thin solid red;}
#galerie {position:relative;margin:5px; width:520px; height:350px;opacity:1; }
#info {
	position:absolute; padding:5px; z-index:1000; top:5px; right:-4px; 
	color:red; background-color:#eee; 
	width:76px; height:265px; 
	text-align:left; font-size:10px; 
	border-radius:8px; border:thin solid #cccccc; 
}
#klein {margin-top:20px; width:290px; height:300px;}
